.container{
    margin: auto;
    width: 100%;
    height: 100vh;
    padding: 250px 0;
    text-align: center;
    /* background-color: antiquewhite; */ 
    background-image:url('./img/background.webp');
    background-size:cover ;
    /* background-position: l; */
    opacity: 0.8;
}
.qr_btn{
    margin: 4%;
    background-color: rgb(49, 216, 77);
    width: 50%;
    color: black;
    height: 35px;
    border-radius: 6px;
}